.mapContainer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.header{
  text-align: center;
}
.map-header{
  display: flex;
  flex-direction: row;
  justify-content:space-between
}
.challengeHeader{
  display: flex;
  flex-direction: row;
  justify-content:space-between
}